.Home-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #0B101D;
}
body{
    overflow-x: hidden;
}
.Home-Title-Principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #0B101D;
    h1{
        font-size: 40px;
        color: #ffffff;
        font-weight: 900;
    }
    h3{
        font-size: 21px;
        color: #6d6b6b;
        
    }
    button{
        width: 200px;
        margin-top: 30px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #2a75df;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
}

.Home-Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    align-items: center;
    gap: 20px;
    background-color: #0B101D;
    h2{
        font-weight: 800;
        font-size: 40px;
        color: rgb(255, 255, 255);
    }
    h3{
        font-size: 20px;
        color: grey;
    }
}

.Home-Cards-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    background-color: #0B101D;
    margin-bottom: 50px;
}
.Home-Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: #0B101D;
    width: 350px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    padding: 20px;
    h2{
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    p{
        font-size: 15px;
        color: grey;
    }
}
.Separador{
    width: 100%;
    height: 1px;
    background-color: #4d4d4d;
}